.Profile-card{
    width:auto;
    height: 50vh;
    background-color: whitesmoke;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    .input-container
    {
        display: grid;
        margin-top: 40px;
        gap: 30px;
    }
    
    .edit-btn-container{
        position: absolute;
        right: 20px;
    }
    .edit-btn{
        cursor: pointer;
    }
    .save-btn-container{
        display: flex;
        justify-content: center;
    }
}