.post-card{
    width:440px;
    height:auto;
    background-color: white;
    border: 1px solid #ada9a9; 
    margin-top: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-bottom: 20px;
    
}
.name{
    font-family: system-ui sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:rgba(19, 97, 200, 0.9);
    margin-left: 10px;
    text-decoration: underline;
    cursor : pointer;
    
}
.date-time{
    font-family: system-ui sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.9);
    margin-left: 10px;
}
.status{
    font-family: system-ui sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.9);
    // text-align: left;
    margin:0 10px 0 10px;
    // justify-content: center;
}