.Profile-info{
    width: auto;
    height: auto;
    background-color: whitesmoke;
    margin: 25px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    .edit-btn-container{
        margin-top: 5px;
        position: absolute;
        right: 20px;
        // z-index: 99;
        .edit-btn{
            cursor: pointer;
        }
    }
    .Profile{
        display: flex;
        justify-content: space-between;
        // background-color: black;
        margin-left: 25px;
    }
    .userName{
        font-family: system-ui;
        font-weight: 600;
        color:rgba(0,0,0,0.9);
        font-size: 22px;  
        // background-color: black;
    } 
    .left{
        font-family: system-ui;
        font-size: 14px;
        // background-color: black;
        // margin-top: -20px;
        color:rgba(0,0,0,0.9);
        font-weight: 600;
        width: 200px;
    }
    .heading{
        margin-top: -20px;
        width: 200px;
    }
    .right-info{
        margin: auto;
        // background-color: black;
        // margin-top: 25px;
        // margin-left: 30px;
        width: 200px;
        .company,
        .collage {
            font-family: system-ui;
            font-size: 13px;
            color:rgba(0,0,0,0.9);
            font-weight: 600;
            line-height: 20px;
            // z-index: 99;
        }
        .collage{
            margin-top: -9px;
        }
    }

}
.posts-main{
    // background-color: whitesmoke; 
    margin-left: 25px;
    
    // width: 100px;
}